@import url("./mixmin.less");
.modal-alert {
    position: fixed;
    z-index: 999999;
    left: 50%;
    top: 50%;
    width: 360px;
    height: 160px;
    margin-left: -180px;
    margin-top: -80px;
    background-color: #fff;
    padding: 10px 20px;
    .border-radius(4px);
    .box-sizing(border-box);
    .box-shadow(0 0 5px #ccc);
    > .alert-close {
        float: right;
        margin-right: -10px;
        cursor: pointer;
    }
    > .alert-content{
        padding: 10px 0;
    }
}
